.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
.cache/
.env
.env.*
!.env.sample
tests/
docs/
.git/
.github/
.idea/
.vscode/
*.swp
.DS_Store
